@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  --radix-connect-button-width: 138px;
  --radix-connect-button-height: 42px;
  --radix-connect-button-border-radius: 10px;
}
textarea {
  resize: none;
  line-height: 1.25 !important;
  height: 100%;
  width: 100%;
}
